/* common style  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* banner section start  */
.hero-section {

    display: flex;
    justify-content: center;
}

.container {
    width: 1321px;
}
.hero-container{
    background-color: #000;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 50px;
    padding: 50px 100px 0px 100px

}
.hero-content-area{
    width: 50%;

}
.hero-content-area .hero-title {
    color: white;
    font-size: 70px;
    font-weight: 700;
}
.hero-content-area .hero-text{
    color: #ddd;
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
}
.hero-anchor{
    text-decoration: none;
    color: white;
    background: red;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 10px;
    transition: transform 1.5s ease;
}
.hero-anchor:hover{
    transform:scale(1.2);
}

.hero-section-img{
    width: 50%;
}
.hero-section-img img{
    width: 100%;
    height: 100%;
}

/* -------------------
     responsive hero section 
---------------------- */

